.f-l {
  float: left !important;
}

.f-r {
  float: right !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.m-a {
  margin: auto !important;
}

.o-a {
  overflow: auto !important;
}

.o-x-a {
  overflow-x: auto !important;
}

.o-y-a {
  overflow-y: auto !important;
}

.t-a-c {
  text-align: center !important;
}

.t-a-l {
  text-align: left !important;
}

.t-a-r {
  text-align: right !important;
}

.v-t {
  vertical-align: top !important;
}

.v-m, .v-c {
  vertical-align: middle !important;
}

.v-b {
  vertical-align: bottom !important;
}

.pointer {
  cursor: pointer;
}

.weight {
  font-weight: 600 !important;
}

// border-radius begin.
$br-size: 1;

@while $br-size <=20 {
  .br-#{$br-size} {
    border-radius: 1px * $br-size !important;
  }

  $br-size: $br-size + 1;
}
// border-radius end.

.required-mask {
  color: red;
  margin-right: 3px;
}

.bold {
  font-weight: 550;
}

.black {
  color: rgba(0, 0, 0, 0.75);
}

.label {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 550;
}

.title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 550;
}

.hint, .tip, .grey-tip, .gray-tip {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 14px;
}

.red-hint, .red-tip {
  color: rgba(255, 0, 0, 0.8) !important;
  font-size: 14px;
}
