// width begin.
$wp: 1;
@while $wp <= 100 {
  .wp-#{$wp} {
    width: 1% * $wp !important;
  }
  .max-wp-#{$wp} {
    max-width: 1% * $wp !important;
  }
  $wp: $wp + 1;
}

.full-width {
  width: 100% !important;
}

.max-100 {
  max-width: 100% !important;
}
// width finish.

// height begin.
$hp: 1;
@while $hp <= 100 {
  .hp-#{$hp} {
    height: 1% * $hp !important;
  }
  .max-hp-#{$hp} {
    max-height: 1% * $hp !important;
  }
  $hp: $hp + 1;
}

.full-height {
  height: 100% !important;
}
// height finish.
